body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #343a40;
    color: black;
    padding: 20px 0;
}

header h1 {
    font-size: 3em;
}

.navbar {
    padding: 20px 0;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#about {
    background-color: #f8f9fa;
    padding: 50px 0;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#skills {
    padding: 50px 0;
}

#skills h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    margin-bottom: 10px;
}

#projects {
    background-color: #f8f9fa;
    padding: 50px 0;
}

#projects h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

